body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  padding-bottom: 100px;
}

#board {
  display: inline-block;
  align-self: stretch;
  width: 100%;
  flex-basis: 70%;
}

.cell {
  display: inline-block;
  border: 1px solid black;
  min-width: 30px;
  min-height: 30px;
  margin: 0px;
  cursor: pointer;
  vertical-align: top;
  user-select: none;
}

.blank {
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow:         0 0 10px #ccc;
  min-height: 30px;
  background-color: #ddd;
}

.revealed{
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  min-height: 30px;
}

.flagged {
  background-color: red;
  min-height: 30px;
}

.doubted{
  background-color: green;
  min-height: 30px;
}

.highscore-board{
  text-align: center;
  align-self: start;
  flex-basis: 5%;
}

.control-board{
  align-self: start;
  display: flex;
  flex-direction: column;
  flex-basis: 15%;
}

.main-horizontal{
  display: flex;
}

.highscore-popup-content{
  width: 15%!important;
  text-align: center;
}

.highscore-popup-content input{
  max-width: 80%;
}