body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#board {
  display: inline-block;
}

.cell {
  display: inline-block;
  border: 1px solid black;
  min-width: 30px;
  min-height: 30px;
  margin: 0px;
  cursor: pointer;
  vertical-align: top;
}

.blank {
  opacity: 0;
}

.revealed{
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  min-height: 30px;
}

.flagged {
  background-color: red;
  height: 30px;
}