@import "cell.css";
@import "banner-top.css";
.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  border-collapse: collapse;
  padding: 1px;
}

table, th, td {
  border: 1px solid black;
}

table caption {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0px 10px 0px;
}

table tr:nth-child(even){
  background-color: #f2f2f2;
}

.App {
  padding-bottom: 100px;
}

#board {
  display: inline-block;
  align-self: stretch;
  width: 100%;
  flex-basis: 70%;
}

.highscore-board{
  text-align: center;
  align-self: start;
  flex-basis: 5%;
}

.control-board{
  align-self: start;
  display: flex;
  flex-direction: column;
  flex-basis: 15%;
}

.main-horizontal{
  display: flex;
}

.highscore-popup-content{
  width: 15%!important;
  text-align: center;
}

.highscore-popup-content input{
  max-width: 80%;
}

.defeat-popup-content {
  width: auto!important;
  border: none!important;
  padding: 0px!important;
  opacity: 0.9;
  background: none!important;
}

.status-board {
  display: flex;
  margin: 10px;
}

.status-board span{
  padding: 2px;
  font-weight: bold;
  font-size: 20px;
}

.status-board .game-status{
  flex-basis: 15%;
}

.status-board .bomb-count{
  flex-basis: 70%;
}

.status-board .elapsed-time{
  flex-basis: 15%;
}